<h2> Ice Cream Shop Section</h2>
<h3>Please tell us about your ice cream shop and the types you have:</h3>
<form action="/shops" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <p>What's the name of your shop?</p>
  <input type='text' name='shop[name]'/><br/>
  <p>What is the Google review rating for your shop?</p>
  <input type='number' name='shop[google_review_rating]'/><br/>
  <p>Do you serve ice cream alternatives?(y or n)</p>
  <input type='text' name='shop[has_ice_cream_alternatives]'/><br/>
  <input type='submit'/>
</form>
