<h1>Welcome to Relational Rails</h1>

<ul>
  <li><a href="/parents">Parents Index</a></li>
  <li><a href="/parents/new">New Parent</a></li>
  <li><%= link_to "Garages", "/garages" %></li>
  <li><%= link_to "Vehicles", "/vehicles" %></li>
</ul>

