<%= link_to "Flavors", "/flavors" %>
<%= link_to "Shops", "/shops" %>
<h1>Welcome to Relational Rails</h1>

<ul>
  <li><a href="/shops">Shops Index</a></li>
  <li><a href="/shops/new">New Shop</a></li>
  <li><a href="/flavors">Flavors Index</a></li>
  <li><a href="/flavors/new">New Flavor</a></li>
</ul>
